* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.screen {
  display: flex;
  height: 100vh;
}

.leftside {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftside img {
  width: 70vw;
  height: auto;
}

.rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  background-color: rgb(226, 241, 226);
  padding: 50px;
}

.rightside h1 {
  font-size: 45px;
  margin-bottom: 30px;
}

.rightside label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
}

.rightside input {
  border: 1px solid rgb(193, 235, 193);
  border-radius: 40px;
  padding: 12px;
  font-size: 16px;
  width: 400px;
  outline: 0;
  margin-top: 10px;
}

.rightside input[type="submit"] {
  background-color: white;
  cursor: pointer;
}

.rightside input[type="submit"]:hover {
  background-color: rgb(193, 235, 193);
}

.error {
  font-size: 11px;
  background-color: red;
  color: white;
  padding: 4px;
  border-radius: 40px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}